extends layout

block content
	h1.
		User List
	ul
		each user, i in userlist
			li
				a(href="mailto:#{user.email}")= user.username
	p
		a(href="newuser")= "add a user"
	p
		a(href="userlist.json")= "view users in json format"
	p
		a(href="/")= "Torna alla Home"